
body {
  font-family: montserrat, sans-serif;
  color: #ffffff;
  background-color: #191919;
  font-size: 18px;
}

h2,
p {
  margin: 0;
}

#content {
  padding: 2rem;
  margin-top: 2rem;
}

.title-content {
  text-align: center;
}

.card {
  background-color: #DDDDDD;
  display: grid; /* GRID */
  width: 45%;
  min-width: px;
  height: fit-content;
  border-radius: 5px;
  float: left;
  padding: 1rem;
  margin: 1rem 1rem 1rem 2rem;
  color: #191919;
  font-size: 18px;
}

.centered {
  margin: auto;
  text-align: center;
}
.img-song img {
  float: left;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
}

.song-desc {
  float: right;
  text-align: right;
  width: fit-content;
}

.title-song,
.artist,
.album {
  padding: 5px 0px;
}

.separator p {
  text-align: center;
}

.btn-card button {
  float: right;
  /* FLEX */
  display: flex;
  flex-wrap: wrap;
  /* FLEX */
  background-color: #191919;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  opacity: 0.7;
}

.btn-card button:hover {
  cursor: pointer;
  opacity: 1;
}

.btn-deselect:hover {
  background-color: tomato;
}

.btn button {
  display: block;
  margin: auto;
  background-color: #191919;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 0.5rem 0rem;
  width: 400px;
  opacity: 0.7;
}

.btn a {
  color: white;
  text-decoration: none;
}

.btn button:hover {
  cursor: pointer;
  opacity: 1;
}
