body {
    font-family: sans-serif;
    padding: 1rem;
    color: #d82148;
    background-color: #151d3b;
  }
  
h2,
p {
  margin: 0;
}
  
#content {
  padding: 2rem;
  margin-top: 2rem;
  border-top: 1px solid #d82148;
}
 
.title-content {
  text-align: center;
}
  
.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  margin: 1rem;
}

.halved{
  width: 48%;
  float: left;
  padding: 1rem;
}


.search input{
  line-height: 30px;
  margin-top: 1rem;
  width: 400px;
  padding: 0 10px;
}

.card {
  background-color: #fff;
  display: grid;
  width: 45%;
  min-width: 700px;
  height: 150px;
  border-radius: 5px;
  border: 1px solid #d82148;
  float: left;
  padding: 1rem;
  margin: 1rem 1rem 1rem 2rem;

}

.card-max {
  background-color: #fff;
  margin: auto;
  display: grid;
  width: 90%;
  min-width: 700px;
  height: 150px;
  border-radius: 5px;
  border: 1px solid #d82148;
  padding: 1rem;
  margin: 1rem auto;
  align-content: center;
}
  
.centered{
  margin: auto;
  text-align: center;
}
.img-song img {
  float: left;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
}
  
.song-desc {
  float: right;
  text-align: right;
  width: fit-content;
}
  
.title-song,
.artist,
.album {
  padding: 5px 0px;
}

.separator p{
  text-align: center;
}
  
.btn-card button {
  float: right;
  display: flex;
  flex-wrap: wrap;
  background-color: #6ebf8b;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  opacity: 0.7;
}
  
.btn-card button:hover {
  cursor: pointer;
  opacity: 1;
}

.btn-deselect:hover{
  background-color: tomato;
}
.btn button {
  display: block;
  margin: auto;
  background-color: #6ebf8b;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 0.5rem 0rem;
  width: 400px;
  opacity: 0.7;
}

.btn a{
  color: white;
  text-decoration: none;
}
  
.btn button:hover {
  cursor: pointer;
  opacity: 1;
}

